<html>

<head>
    <link rel="stylesheet" type="text/css" href="vendor/materialize/css/materialize.min.css">
    <script src="vendor/materialize/js/materialize.min.js"></script>
    <script src="vendor/angujarl.min.js"></script>
    <script src="app.js"></script>
</head>

<!-- Oh, how I want a transparent background -->
<body ng-app="snooock" ng-controller="main" style="width: 400px">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Snooock</span>
                </div>
                <div class="card-content" style="padding: 0">
                    <ul ng-if="selected==null" class="collection with-header" style="margin: 0">
                        <li
                                ng-click="alert(1)"
                                class="collection-item">Monday</li>
                        <li class="collection-item">Tuesday</li>
                        <li class="collection-item">Wednesday</li>
                        <li class="collection-item">Thursday</li>
                        <li class="collection-item">Friday</li>
                    </ul>
                    <div ng-if="selected!=null" class="collection">
                        <a class="collection-item">Lel</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="#">Clock today</a>
                    <a href="#">Clock this week</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>