<html>

<head>
    <link rel="stylesheet" type="text/css" href="vendor/materialize/css/materialize.min.css">
    <script src="vendor/materialize/js/materialize.min.js"></script>
    <script src="vendor/angujarl.min.js"></script>
    <script src="vendor/browser-polyfill.min.js"></script>
    <script src="app.js"></script>
</head>

<style>
    .small{
        border: 1px solid red;
        width: 45%;
        background-color: orange;
    }
</style>

<!-- Oh, how I want a transparent background -->
<body ng-app="snooock" ng-controller="main" style="width: 400px">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Snooock</span>
                </div>

                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li ng-repeat="tab in tabs" class="tab">
                            <a ng-click="select_tab(tab)" ng-class="{'active': tab==selected_tab}">{{tab}}</a>
                        </li>
                    </ul>
                </div>

                <div ng-show="selected_tab == 'shifts'">
                    <div class="card-content" style="padding: 0">
                        <ul class="collapsible" style="margin: 0">
                            <li ng-repeat="day in days" ng-click="select_day(day)">
                                <div class="collapsible-header">{{day}}</div>
                                <div class="collapsible-body">
                                    <div ng-repeat="hour in shifts[day]">
                                        <input ng-model="hour['ini']" type="text" class="timepicker center-align" style="width: 40%">
                                        _
                                        <input ng-model="hour['end']" type="text" class="timepicker center-align" style="width: 40%">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action center-align">
                        <a ng-click="clock_today()">Clock today</a>
                        <a ng-click="clock_week()">Clock this week</a>
                        <a ng-click="save_shifts()">Save</a>
                    </div>
                </div>

                <div ng-show="selected_tab == 'configuration'">
                    <p>Configuration</p>
                </div>

                <div ng-show="selected_tab == 'about'">
                    <p>About</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>